@import 'tailwindcss';

:root {
  --font-space-grotesk:
    'Space Grotesk', 'Space Grotesk Fallback', ui-sans-serif, system-ui, sans-serif,
    'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
  --color-primary: oklch(0.718 0.202 349.761);
  --text-s: 1rem;

  font-family: var(--font-space-grotesk);
  line-height: 1.6;
  font-weight: 400;
  font-size: 16px;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
  margin: 0;
  padding: 0;
  min-height: 100vh;
}

:root:root {
  --adm-color-primary: var(--ant-color-primary);
}
